#if(${procMenuVisible} == "visible")
<ul class="menu">
	#foreach( $appflow in $appflows )
	<li>
		<a href="#">${appflow.get("appname")}</a>
		<ul>
		#foreach($flow in $appflow.get("flows"))
			<li>
			#if ("${flowid}" == "${flow.id}")
				<a< title="$appflow.get("tooltip_flow")" href="javascript: open_process(3, ${flow.id}, '$response.encodeURL($url_prefix,'inicio_flow.jsp')', 'flowid=${flow.id}&sel=${flow.id}',$flow.runMaximized())">${flow.name}</a>
			#else
    			<a  title="$appflow.get("tooltip_flow")" href="javascript: open_process(3, ${flow.id}, '$response.encodeURL($url_prefix,'inicio_flow.jsp')', 'flowid=${flow.id}',$flow.runMaximized())">${flow.name}</a>
			#end
			</li>
		#end
		#foreach($link in $appflow.get("links"))
			<li>
				<a title="$appflow.get("tooltip_link")" href="$response.encodeURL(${link.url})">${link.text}</a>
			</li>
		#end
		</ul>
	</li>      
	#end
</ul>
#end
