<div class="slide02">
	<div style=" margin-left: 200px;">Preview</div>
	<div style=" border-bottom: 1px Solid #cccccc; padding: 0 2px 5px 2px; text-align: center;">
		<form>
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Ordenar</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">Action</a>
				</li>
				<li>
					<a href="#">Another action</a>
				</li>
				<li>
					<a href="#">Something else here</a>
				</li>
				<li>
					<a href="#">Separated link</a>
				</li>
			</ul>  
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Filtrar</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">Action</a>
				</li>
				<li>
					<a href="#">Another action</a>
				</li>
				<li>
					<a href="#">Something else here</a>
				</li>
				<li>
					<a href="#">Separated link</a>
				</li>
			</ul>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm">ON</button> 
				<button type="button" class="btn btn-default btn-sm">OFF</button></div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm">&lt;</button> 
				<button type="button" class="btn btn-default btn-sm">&gt;</button>
			</div>
		</form>
	</div>

#if($hasActivities)

	#foreach($act in $newact)
		#set($style_read="")
		#if($act.get("read") == 0)
			#set($style_read="style='font-weight:bold;'")
		#end

		<div class="process" onclick='process_detail("user_proc_detail.jsp", "div_process_preview", $act.get("flowid"), $act.get("pid"), $act.get("subpid"), -4)'>
			<div class="cube" title='$act.get("task_annotation_color_title")' style='background-color:$act.get("task_annotation_color_backgroundColor")'>
				XX
			</div>
			<div class="left" $style_read>
				TODO SENDER
				<br />
				$act.get("desc")
			</div>
			<div class="right" $style_read>
				<div>$act.get("created")</div>
				<div class="img">
					<img src="images/V.png" width="25" height="12" alt="" />
				</div>
			</div>
		</div>
	
	#end

#else

 	#if($actsize <= 0 && $selectedFolder == 0 && $selectedLabel == 0 && $selectedDays==0)
	
<div class="info_msg">${no_tasks}</div>
	
	#else
	
<div class="info_msg">${no_tasks_filter}</div>
	
	#end

#end
	
</div>

<div id="div_process_preview" class="content_template1">
</div>


#if($hasMoreActivities)
	<!--div class="button_box">
		<input class="regular_button_00" type="button" name="more" value="$button_more" onClick="javascript:tabber(2, '$response.encodeURL($url_prefix,'actividades_filtro.jsp')','clean=true','$response.encodeURL($url_prefix,'actividades.jsp')','ts=$ts&clean=true');"
		/>
	</div-->
#end

#*
<!-- div class="table_inc">
	<p>
		$label_label
		<select name="labelpainel" id="labelpainel" onchange="filterActivity(document.getElementById('labelpainel').value, 1);" >
#if($selectedLabel == 0)
			<option value="0" selected="selected">$label_default</option>
#else
			<option value="0">$label_default</option>
#end
#foreach($label in $labels)
	#if($selectedLabel == $label.getId())
		 	<option value="$label.getId()" selected="selected">$label.getName()</option>
	#else
		 	<option value="$label.getId()">$label.getName()</option>
	#end 
#end
		</select>
	
		$days_label
		<select name="dayspainel" id="dayspainel" onchange="filterActivity(document.getElementById('dayspainel').value, 2);" >
#foreach($day in $days)
	#if($selectedDays == $count)
			 <option value="$count" selected="selected">$day</option>
	#else
		  	 <option value="$count">$day</option> 
	#end
	#set($count=$count+1)
#end
		</select>
	</p>
		
#if($hasActivities)		
	< !--table class="item_list"-- >
	#foreach($act in $newact)
		#set($style_read="")
		#if($act.get("read") == 0)
			#set($style_read="style='font-weight:bold;'")
		#end
		<tr class="tab_row_$class_type">
			<td title='$act.get("task_annotation_color_title")' style='background-color:$act.get("task_annotation_color_backgroundColor")' ></td>
			<td></td>
		#set($row=$row+1)
			 
		#if($has_appname)
			<td align="center">
				<a $style_read href="javascript:open_process(2, $act.get("flowid"), '$response.encodeURL($url_prefix,$act.get("uri"))','flowid=$act.get("flowid")&pid=$act.get("pid")&subpid=$act.get("subpid")&ts=$ts', $act.get("runMax"));"">
					$act.get("appname")
				</a>
			</td>
		#end
			<td align="center">
				<a $style_read href="javascript:open_process(2, $act.get("flowid"), '$response.encodeURL($url_prefix,$act.get("uri"))','flowid=$act.get("flowid")&pid=$act.get("pid")&subpid=$act.get("subpid")&ts=$ts', $act.get("runMax""));">
		#if($act.get("delegated") == "1")
					<img src="$response.encodeURL($url_prefix,'images/icon_delegations.png')" alt="$act.get("delegated_alt")" style="border:none; float:left;"" />
		#end
				$act.get("flowname")
				</a>
			</td>
			<td align="center">
				<a $style_read href="javascript:open_process(2, $act.get("flowid"), '$response.encodeURL($url_prefix,$act.get("uri"))','flowid=$act.get("flowid")&pid=$act.get("pid")&subpid=$act.get("subpid")&ts=$ts', 
				$act.get("runMax"));"">
					$act.get("pnumber")
				</a>
			</td>
			<td align="center">
				<a $style_read href="javascript:open_process(2, $act.get("flowid"), '$response.encodeURL($url_prefix,$act.get("uri"))','flowid=$act.get("flowid")&pid=$act.get("pid")&subpid=$act.get("subpid")&ts=$ts', $act.get("runMax"));"">
					$act.get("desc")
				</a>
			</td>
			<td align="center">
				<a $style_read href="javascript:open_process(2, $act.get("flowid"), '$response.encodeURL($url_prefix,$act.get("uri"))','flowid=$act.get("flowid")&pid=$act.get("pid")&subpid=$act.get("subpid")&ts=$ts', $act.get("runMax"));"">
					$act.get("duration")
				</a>
			</td>
			<td>$act.get("task_annotation_icon")</td>
		</tr>
	#end
	< !--/table-- >	
#end
</div -->
*#